<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            text-align: center;
            border-collapse: collapse;
            width: 500px;
            height: 200px;
            font-family: 'Courier New', Courier, monospace;
            border-radius: 20%;

        }
        th
        {
            background-color: darkcyan;
        }
        td
        {
            background-color: aquamarine;
        }
        #hai{
            color:black;
            
        }
    </style>
    
</head>
<body bgcolor="cornsilk">
    <center>
        <h1 style="color:blue">Display_AccessRecord</h1>
        <table border="3px solid blue">
            <tr>
                <th>pk</th>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>
            {% for ao in accessrecord %}
            <tr id="hai">
                <td>{{ ao.pk }}</td>
                <td>{{ao.name}}</td>
                <td>{{ao.date}}</td>
                <td>{{ao.author}}</td>
            </tr>
            {% endfor %}
            
    
    
    
    
    
    
    
        </table>






    </center>
    
</body>
</html>